@media screen and (max-width: 800px) {
    .home, .howsect {
        flex-direction: column;
        align-items: center;
    }

    .imgblock {
        min-width: 100%;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Signika', sans-serif;
}

nav {
    display: flex;
    background-color: rgb(76, 82, 104);
    justify-content: center;
}

a {
   color: rgb(216, 216, 77);
   text-decoration: none;
   transition: color 1s;
   font-size: 1.4em;
}

a:hover {
    color: whitesmoke;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

main {
    display: flex;
    background-color: rgb(74, 189, 235);
    padding: 2em;
    gap: 2em;
}

/* .homeleft, .tickbot, #whatistickybot {
    animation-duration: 3s;
    animation-name: slideup;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse
}

 */

.homeleft, .tickbot, #whatistickybot {
    animation-name: fadeInOut, bounce;
    animation-delay: 1s, 0s;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate
}

@keyframes fadeInOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes bounce {
    from {
        margin-top: 20px;
    }
    to {
        margin-top: 0px;
    }
}



h1, h2 {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.homeleft {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 65%;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 2px;
}

.button:hover {
    cursor: pointer;
}

#mainbutton {
    background-color: white;
    transition: transform .7s ease-in-out .5s;
}

#mainbutton:hover {
    background-color: whitesmoke;
    transform: scale(.95);
}

.button:hover img {
    transform: rotate(15deg) scale(1.1);
}

#mainbutton a {
    color: rgb(76, 82, 104);
}

#mainbutton img {
    width: 20px;
    rotate: -15deg;
    transition: transform .7s ease-in-out;
}

h1 {
    font-size: 5em;
    color: rgb(76, 82, 104);
    margin-bottom: -10px;
    text-align: center;
}

main p {
    font-size: 1.5em;
    color: white;
    width: 80%;
    text-align: center;
}

.whatis {
    display: flex;
    background-color: whitesmoke;
    color: rgb(76, 82, 104);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    padding: 0;
    gap: 0;
}

.paras {
    display: flex;
}

.paras section {
    display: flex;
    justify-content: center;
}

.whatis p {
    color: rgb(76, 82, 104);
    font-size: .9em;
    width: 75%;
}

h2 {
    font-size: 2em;
    position: relative;
}

h2:before {
    content: "";
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 15%;
    border-bottom: solid 3px rgb(74, 189, 235);
}

.brokeimg {
    display: flex;
    flex-direction: column;
    font-size: .9em;
    margin: 7%;
    gap: .5em;
}

#brokeimg {
    font-style: italic;
}

.how {
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 212, 167);
    align-items: center;
}

.how h2 {
    font-size: 3.5em;
    color: rgb(76, 82, 104);
    margin: .5em;
}

.howsect {
    display: flex;
    background-color: rgb(94, 212, 167);
    justify-content: space-between;
    width: 100%;  
}

.imgtext {
    background-color: whitesmoke;
    color: rgb(135, 145, 180);
    width: 100%;
    height: 5em;
    margin-top: -4px;
    padding: .5em;
}

.imgtext a {
    text-decoration: underline;
    color: blue;
    font-size: 1em;
}

.imgblock {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.imgbottom, #imgbottom {
    width: 100%;
}

#imgblockone, #imgblocktwo, #imgblockthree {
    animation: 2s fadeIn;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#imgblocktwo {
    animation-delay: 1s;
}

#imgblockthree {
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

code {
    color: rgb(196, 18, 18);
    font-size: .9em;
}

.last {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border: solid grey 1px;
}

.starttick {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: rgb(76, 82, 104);
    width: 60%;
}

.starttick p, .starttick span {
    color: rgb(76, 82, 104);
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.starttick h2 {
    font-size: 2em;
}

.starttick h2::before {
    width: 40%;
    left: 30%;
}

#endbutton {
    background-color: rgb(76, 82, 104);
    color: whitesmoke;
    margin: 20px 0;
    transition: .5s ease-in-out;
}

#endbutton:hover {
    background-color: rgb(82, 62, 62);
    transform: scale(.95);
}

#endbutton img {
    width: 20px;
    rotate: -15deg;
    transition: transform .7s ease-in-out;
}
#endbutton img:hover {
    transform: rotate(15deg) scale(1.1);
}

#endbutton a {
    color: whitesmoke;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(76, 82, 104);
    color: whitesmoke;
    padding: 20px 0;
    font-size: .9em;
}

footer a {
    text-decoration: underline;
    font-size: 1em;
    color: whitesmoke;
}

#scrolltop {
    display: none;
    flex-direction: column;
    height: 60px;
    width: 60px;
    border: none;
    background-color: rgb(212, 190, 63);
    color: black;
    font-size: 80%;
    font-weight: 700;
    border-radius: 5%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: transform .7s ease-in-out 0s;
}

#scrolltop:hover {
    transform: scale(.9);
}

#scrolltop img {
    width: 50%;
}
